<%= link_to "Edit Post", edit_post_path, :class => "btn btn-warning btn-md"%>
<h1><%= @post.title %></h1>
<p class="time-padding">Posted <%= distance_of_time_in_words(Time.now, @post.created_at) %> ago</p>
<p> <%= @post.content%></p>
